@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




/* src/index.css or src/App.css */
/* @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:wght@100..900&display=swap'); */

* {
  font-family: 'Afacad Flux', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}