@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Afacad Flux', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ant-select-selector {
  border: none !important; /* Removes border */
  box-shadow: none !important; /* Removes box-shadow underline */
}

.ant-select-focused .ant-select-selector {
  outline: none !important; /* Ensures no outline on focus */
}

.ant-modal .ant-modal-close{

 position: absolute;
    top: 0px;
    inset-inline-end: -5px;
    z-index: 1010;
    padding: 0;
    color: white;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 50px;
    height: 32px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}